bin
include
lib
__pycache__

pyvenv.cfg
.python-version
pip-selfcheck.json

.ipynb_checkpoints

# tutorial data
data/mnist
text8.zip
vocab_1000.tsv

# tensorboard data
*events.out.*
# PyInstaller
#  Usually these files are written by a python script from a template
